#footer {
  width: 100%;
  padding: 20px;
  background-color: #00000c;
  box-shadow: 0 0 12px .05px rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px;

  #icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

    a {
      text-decoration: none;
      color: #d1b081;
      font-size: 20px;
      transition: .2s ease;

      &:hover {
        color: #fff;
      }
    }
  }
}