#header_container {
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;

  #hdr {
    position: fixed;
    width: 90%;
    top: 0;
    background-color: #00000c;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    transition: .5s ease;
    z-index: 3;
    border-radius: 50px;
    margin-top: 20px;
    box-shadow: 0 0 12px rgba(255, 255, 255, 0.2);
  
    #logo img {
      max-width: 60px;
    }
  
    #navbar #navbar_ul {
      display: flex;
      align-items: center;
      justify-content: center;
      list-style: none;
  
      li {
        cursor: pointer;
        padding: 12px;
        color: #d1b081;
        transition: .2s ease;
  
        &:hover {
          color: #fff;
        }
      }
  
      #li_ul {
        z-index: -99;
        position: absolute;
        border-radius: 12px;
        background-color: #00000c;
        list-style: none;
        padding: 12px 15px;
        opacity: 0;
        transition: .5s ease;
        margin-top: -50px;
      }
      
      #first_li {
        &:hover {
          i.bi-caret-down-fill {
            transform: rotate(180deg);
          }
  
          #li_ul {
            box-shadow: 0 0 18px rgba(255, 255, 255, 0.3);
            z-index: 99;
            opacity: 1;
            margin-top: 5px;
          }
        }
      }
    }
  }
  
  #hdr.down {
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
    background-color: #00000c81;

    #navbar {
      #navbar_ul {
        #first_li {
          #li_ul {
            background-color: #00000ca2;
          }
        }
      }
    }
  }
}

#header_icon,
#first_li .bi-caret-down-fill {
  display: inline-block;
  transition: .2s ease;
}

#first_li:hover #header_icon,
#first_li:hover .bi-caret-down-fill {
  transform: rotate(180deg);
}