#header_container {
  display: flex;
  align-items: center;
  justify-content: center;

  #hdr {
    position: fixed;
    width: 90%;
    top: 0;
    background-color: #00000c;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    transition: .5s ease;
    z-index: 3;
    border-radius: 50px;
    margin-top: 20px;
    box-shadow: 0 0 12px rgba(255, 255, 255, 0.2);
  
    #logo img {
      max-width: 60px;
    }
  
    #navbar #navbar_ul {
      display: flex;
      align-items: center;
      justify-content: center;
      list-style: none;
  
      li {
        cursor: pointer;
        padding: 12px;
        color: #d1b081;
        transition: .2s ease;
  
        &:hover {
          color: #fff;
        }
      }
  
      #li_ul {
        display: none;
        position: fixed;
        border-radius: 12px;
        background-color: #00000c;
        box-shadow: 0 0 12px rgba(255, 255, 255, 0.3);
        list-style: none;
        padding: 10px;
        transition: .2s ease;
      }
  
      #first_li:hover {
        #li_ul {
          display: block;
        }
      }
    }
  }
  
  #hdr.down {
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.2);
    background-color: #00000ca2;

    #navbar {
      #navbar_ul {
        #first_li {
          #li_ul {
            background-color: #00000ca2;
          }
        }
      }
    }
  }
}