#main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  #rollback_btn {
    position: fixed;
    opacity: 0;
    z-index: 2;
    padding: 15px;
    font-size: 15px;
    border: none;
    outline: none;
    border-radius: 50%;
    background-color: #11112c;
    color: #fff;
    cursor: pointer;
    right: 20px;
    bottom: 80px;
    transition: .2s ease;
  }

  #rollback_btn.visible {
    opacity: 1;

    &:hover {
      background-color: #22223c;
      box-shadow: 0 0 15px .3px rgba(255, 255, 255, 0.2);
      transform: scale(1.03);
    }
  }

  #coding_img {
    img {
      max-width: 1320px;
      height: auto;
      margin-bottom: 1rem;
    }
  }

  #title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .title {
    font-weight: 800;
    margin-bottom: 1.25rem;
    margin-top: 1.25rem;
    font-size: 2.5rem;
  }

  #ide_imgs {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    
    img {
      cursor: pointer;
      margin-block: 12px;
      max-width: 800px;
      border-radius: 12px;
      box-shadow: 0 0 12px rgba(255, 255, 255, 0.3);
      transition: 1s ease;

      &:hover {
        transform: scale(1.05);
        box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
      }
    }
  }

  #download_area {
    margin-top: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #00000c;
    box-shadow: 0 0 8px .2px rgba(255, 255, 255, 0.15);
    padding: 2rem 8px;
    border-radius: 12px;
    gap: 2rem;
    margin: 2.5rem 12rem;

    #download_btn {
      cursor: pointer;
      outline: none;
      border: none;
      border-radius: 12px;
      padding: 15px;
      font-weight: 600;
      background-color: #2156d24e;
      color: #fff;
      scale: 1.5;
      transition: .5s ease;

      &:hover {
        background: #2156d2;
        box-shadow: 0 0 20px .1px rgba(255, 255, 255, 0.3);
        transform: scale(1.02);

        i {
          background: #000000;
        }
      }

      i {
        background-color: #5b7cde70;
        border: none;
        border-radius: 10px;
        padding: 8px;
        transition: .5s ease;
        box-shadow: 0 0 8px rgba(255, 255, 255, 0.3);
      }
    }

    #copy_link {
      cursor: pointer;
      color: #d1b081;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
  
  #about_us {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    #about_us_sub-container {
      display: grid;
      grid-template-columns: auto auto;
      gap: 4.5rem;
      margin: 1rem 3rem;
      align-items: center;
      text-align: justify;
      
      p {
        font-weight: 400;
      }
      
      img {
        max-width: 300px;
      }
    }
  }

  #support {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 1rem 3rem;

    #support_sub-container {
      z-index: 2;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 2rem;

      .slider-container {
        .slider-wrapper {
          overflow: hidden;
          max-width: 1000px;
          margin: 0 70px 55px;

          .swiper-pagination-bullet {
            background: #fff;
            height: 15px;
            width: 15px;
          }

          .swiper-slide-button {
            color: #fff;
            margin-top: -50px;
            transition: .2s ease;

            &:hover {
              color: #222da3;
            }
          }

          .card-list {
            .card-item {
              color: #fff;
              user-select: none;
              padding: 35px;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              border-radius: 12px;
              backdrop-filter: blur(30px);
              background: rgba(255, 255, 255, 0.2);
              border: 1px solid rgba(255, 255, 255, 0.5);

              .user-image {
                width: 150px;
                height: 150px;
                border-radius: 50%;
                margin-bottom: 40px;
                border: 3px solid #fff;
                padding: 4px;
              }

              .user-profession {
                font-size: 1.15rem;
                color: #e3e3e3;
                font-weight: 500;
                margin: 14px 0 40px;
              }

              .message-button {
                font-size: 1.25rem;
                padding: 10px 35px;
                color: #030728;
                border-radius: 10px;
                font-weight: 500;
                cursor: pointer;
                background: #fff;
                border: 1px solid transparent;
                transition: .2s ease;

                &:hover {
                  background: rgba(255, 255, 255, 0.1);
                  border: 1px solid #fff;
                  color: #fff;
                }
              }
            }
          }
        }
      }
    }
  }

  .paragraph {
    font-size: 25px;
    font-weight: 600;
  }
}

.valhalla-blue {
  color: #222da3;
}